*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Server ignore
server/.env
server/__pycache__/
server/venv/
server/files/
server/.pytest_cache/

# Firebase
google-services.json
